<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Note Page</title><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'notestyle.css')}}">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap"
    />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
          <div class="logo">
              <i class="bx bxl-codepen"></i>
              <span>DAYSLAY NOTE</span>
          </div>
          <i class="bx bx-menu" id="btn"></i>
      </div>

      <div  class="user">
          <img src="user-img.jpg" alt="me" class="user-img">
          <div>
              <p class="bold">Slayer S.</p>
              <p>User</p>
          </div>
      </div>
      <ul>
          <li>
            <a href="{{ url_for('index')}}">
                  <i class="bx bx-home-circle"></i>
                  <span class="nav-item">Home</span>
              </a>
              <span class="tooltip">Home</span>
          </li>
          <li>
              <a href="#">
                  <i class="bx bxs-user"></i>
                  <span class="nav-item">Profile</span>
              </a>
              <span class="tooltip">Profile</span>
          </li>
          <li>
              <a href="{{ url_for('about')}}">
                  <i class="bx bx-info-circle"></i>
                  <span class="nav-item">About</span>
              </a>
              <span class="tooltip">About</span>
          </li>
          <li>
            <a href="{{ url_for('notepage')}}">
                  <i class="bx bxs-grid-alt"></i>
                  <span class="nav-item">Note</span>
              </a>
              <span class="tooltip">Note</span>
          </li>
          <li>
              <a href="#">
                  <i class="bx bxs-log-out"></i>
                  <span class="nav-item">Logout</span>
              </a>
              <span class="tooltip">Logout</span>
          </li>
      </ul>
  </div>
    <div class="popup-box">
      <div class="popup">
        <div class="content">
          <header>
            <p></p>
            <i class="uil uil-times"></i>
          </header>
          <form action="#">
            <div class="row title">
              <label>Title</label>
              <input type="text" spellcheck="false">
            </div>
            <div class="row description">
              <label>Description</label>
              <textarea spellcheck="false"></textarea>
            </div>
            <button></button>
          </form>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <li class="add-box">
        <div class="icon"><i class="uil uil-plus"></i></div>
        <p>Add new note</p>
      </li>
    </div>

    <script src="{{ url_for('static', filename='js/notescript.js') }}"></script>
    
    
  </body>
  <script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar'); // Add a dot before 'sidebar'
  
    btn.onclick = function () {
      sidebar.classList.toggle('active');
    };
  </script>
</html>