@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&amp;display=swap');

:root{
    --main-color:#2f2721;
    --primary-color:#d3ad7f;
    --black:#13131a;
    --border: .1rem solid rgba(255,255,255,.3);
    --font-size-13xl: 32px;
    --color-sandybrown: #ffc67e;
    --sheldon8284hocooscom-barley-corn: #9d7e57;
    --color-dimgray: #4e4949;
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

body{
    background: var(--main-color);
}

section{
    padding: 2rem 7%;
}   

.heading{
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 5rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover{
    background: #fff6eb;
    color: var(--primary-color);
}

/* header */

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--main-color);
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header .logo{
    margin-right: auto;
    font-size: 3rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .logo .guinea-pig{
    width: 8rem;
    height: 8rem;
}

.header .navbar{
    position: relative;
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.header .navbar #close-navbar{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
    display: none;
}

.header .navbar a{
    margin-right: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--primary-color);
}

.header .login{
    background-color: var(--sheldon8284hocooscom-barley-corn);
    border: 1px solid var(--sheldon8284hocooscom-barley-corn);
    width: 144.4px;
    height: 45.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .login a{
    margin: 0;
}

.header .login:hover{
    transform: scale(1.1);
}

.header .login a:hover{
    color: #fff;
}

.header .header-icons div{
    margin-left: 1.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
}

.header .header-icons div:hover{
    color: var(--primary-color);
}

.header #hover-btn{
    display: none;
}

/* end */

/* home */

.picture{
    top: 50px;
    max-width: 100%;
    overflow: hidden;
    height: 368px;
    object-fit: cover;

    /* position: absolute; */
    width: 100%;
    right: 0;
    left: 0;
    margin-bottom: -5px;
}
.about-us2 {
    /* position: absolute; */
    width: 100%;
    top: 418px;
    right: 0;
    left: 0;
    background-color: var(--color-dimgray);
    /* height: 274px; */
    color: var(--sheldon8284hocooscom-barley-corn);
    display: flex;
    align-items: center;
    padding: 5rem;
    justify-content: space-between;
    gap: 5rem;
}

.dayslay-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.welcome {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.text-separator {
    width: 40rem;
    max-width: 100%;
    height: 0.2rem;
    background-color: var(--sheldon8284hocooscom-barley-corn);
}

.about-text {
    font-size: 3rem;
}

.dayslay-description {
    display: flex;
    width: 60rem;
    max-width: 100%;
    color: #fff;
    font-size: 1.5rem;
}
/* end of home*/

/* mission */

.about-us3{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    gap: 10rem;
}

.mission-title{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.mission-specific{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.mission-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-desc-title{
    font-size: 3rem;
    text-align: center;
}

.mission-content{
    font-size: 1.5rem;
}

/* end of mission */


/* menu */

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box:hover{
    background-color: var(--primary-color);
}

.menu .box-container .box:hover > *{
    color: var(--black);
}

/* our team  */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
    background-color: var(--color-dimgray);
    
  }

.team-container {
    padding-bottom: 10rem;
}

  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #fff;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    margin-top: 30px;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: #2f2721;
  
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #9d7e57;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
/* footer */
/* Footer */

.footer{
    background: var(--main-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-top: 30px;
} 

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #ccc;
    padding: 1rem 0;
}

.footer .box-container .box .link{
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
}

.footer .box-container .box .link:hover{
    color: #ffaa42;
    text-decoration: underline;
}

.footer .credit{
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-top: 0.1rem solid var(--primary-color);
}

.footer .credit span{
    color: var(--primary-color);
}


/* our team end */

/* media queries */

@media (max-width:1000px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem 5%;
    }

    /* section{
        padding:2rem;
    } */

    .header #hover-btn{
        display: inline-block;
    }

    .header .navbar{
        position: fixed;
        top: 0; right: -105%;
        width: 30rem;
        background: #fff;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                -ms-flex-flow: column;
                     flex-flow: column;
        -webkit-box-pack: center;
                -ms-flex-pack: center;
                   justify-content: center;
        z-index: 1200;                         
    }

    .header .navbar #close-navbar{
        display: block;
    }

    .header .navbar.active{
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4rem;
    }
}



@media (max-width:850px) {
    .about-us2 {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .about-us3 {
        flex-direction: column;
        gap: 2.5rem;
    }

    .mission-specific {
        gap: 2.5rem;
        flex-direction: column;
    }

    .mission-content{
        text-align: center;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
@media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }
  