.container{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    /* position: absolute; */
    top: 50%;
    left: 50%;
}

.container .box{
    padding: 1cm;
    width: 8cm;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 1cm;
    margin-right: 1cm;
    transition: 0.5s;
    cursor: pointer;
    
}

.container .box:hover{
    transform: scale(1.03);
}

.container .box i{
    padding: 20px;
    border-radius: 50%;
    font-size: 1cm;
    color: white;
}

.fa-headphones-alt{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}

.line{
    padding: 2px;
    border-radius: 3px;
    width: 3cm;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    margin-bottom: 0.3cm;
}

h2{
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.fa-crown{
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}

.fa-sitemap{
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}

.l2{
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.l3{
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
@media (max-width:768px){

    .container{
        display: flex;
        flex-direction: column;
    }

}